Django==1.5.2
dj-database-url==0.2.2
dj-static==0.0.5
django-toolbelt==0.0.1
gunicorn==17.5
psycopg2==2.5.1
pyjade==2.0.2
pymongo==2.5.2
static==0.4
wsgiref==0.1.2
Jinja2==2.7.1
MarkupSafe==0.18
Pygments==1.6
Sphinx==1.2b1
docutils==0.11
ipython==1.0.0
