extends layout
block content
  h1 Open Access Button

  p A BMJ / Rewired State hackday hack

  h2 The team

  ul
    li
      |Joe
      img(src='/img/joe.jpg')
    li
      |David
      img(src='/img/david.jpg')
    li
      |Nick
      img(src='https://secure.gravatar.com/avatar/9637895e310caf25237e89155157b2a7?s=200')
    li
      |Andy
      img(src='https://secure.gravatar.com/avatar/bbb9eb1af3b427f8259df33f6e8844aa?s=200')
    li
      |Florian
      img(src='https://secure.gravatar.com/avatar/d178a6201be696c466c41c355c671707?s=200')
