extends layout
block content
  h1 Open Access Button

  p A BMJ / Rewired State hackday hack

  h2 The team

  ul.thumbnails
    li.span4
      .thumbnail
        img(src='/img/joe.jpg')
        .caption
          h3 Joe
    li.span4
      .thumbnail
        img(src='/img/david.jpg')
        .caption
          h3 David
    li.span4
      .thumbnail
        img(src='https://secure.gravatar.com/avatar/9637895e310caf25237e89155157b2a7?s=200')
        .caption
          h3 Nick
    li.span4
      .thumbnail
        img(src='https://secure.gravatar.com/avatar/bbb9eb1af3b427f8259df33f6e8844aa?s=200')
        .caption
          h3 Andy
    li.span4
      .thumbnail
        img(src='https://secure.gravatar.com/avatar/d178a6201be696c466c41c355c671707?s=200')
        .caption
          h3 Florian
