extends layout
block content
  h1 Open Access Button

  p
    a(class="btn", href="javascript:document.getElementsByTagName('body')[0].appendChild(document.createElement('script')).setAttribute('src','http://#{ vars.domain }/js/bookmarklet.js');")
      i(class='icon-bookmark')
    |Drag the button to your bookmark bar.
