doctype 5
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='Open Access Button')
    if typeof(title) !== 'undefined'
      title= 'Open Access Button - ' + title
    else
      title= 'Open Access Button'
    link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/app.css')

  body
    header
      block header
        .navbar.navbar-inverse.navbar-fixed-top
          .navbar-inner
            .container
              button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.brand(href='/') Open Access Button
              .nav-collapse.collapse
                ul.nav
                  li: a(href='/') Home
                  li: a(href='/stories') Stories
                  li: a(href='/map') Map
                  li: a(href='/download.json') Download
                  li: a(href='/about') About

    // Main body
    .container
      block content

    footer
      block footer
        .container

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.js')
    block scripts
