/* App-specific CSS */
body {
    margin-top: 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
  padding: 20px 0 0;
}

#map_canvas {
  height: 700px;
  width: 100%;
}

.thumbnail .caption {
  padding: 0px;
}

.thumbnail .caption p {
  font-size: 95%;
}
