extends web/layout
block body
    // Github ribbon
    a(href='https://github.com/OAButton/OAButton')
        img#github_ribbon(
            src='https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png',
            alt='Fork me on GitHub')

    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') Open Access Button
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='#start') Get the button
                    li
                        a(href='#map') See the map
                    li
                        a(href='#contribute') Contribute
                    li
                        a(href='#team') Meet the team
                    li
                        a(href='#contact') Contact and follow

    header.jumbotron.subhead
        .container
            h1 Need Access to Research?
            h2 Sign up to get the Open Access Button
        .lead 
            span 
                | Tearing down barriers to accessing research, one click at a time

    .start
        a(name='start')
        .container.center
            block start
    
    .map
        a(name='map')
        .container
            #map
            .underlay
                .lead
                    span(id='counter')
                        {{count|force_escape}}
                    span 
                        | Paywalls Hit
                p
                    | This map displays people being denied access to the research they both need and paid for. Put yourself on the map using the Open Access Button to tell the world you are being denied access to knowledge. Using the Open Access Button will make the individual moments of injustice and frustration visible to the world.

    .intro
        a(name='intro')
        .container
            h2 What is this about?
            .row.hilite-left
                .col-md-12
                    p
                        | People are denied access to research hidden behind paywalls every day. This problem is invisible, but it slows innovation, kills curiosity and harms patients. This is an indictment of the current system. Open Access has given us the solution to this problem by allowing everyone to read and re-use research. 
                        | We created the Open Access Button to track the impact of paywalls and help you get access to the research you need. By using the Open Access Button you’ll help show the impact of this problem, drive awareness of the issue, and help change the system. As if this wasn’t enough, the Open Access Button has several ways of helping you get access to the research you need right now. 

    .contribute
        a(name='contribute')
        .container
            h2 Get involved.
            .row.hilite-right
                .col-md-12
                    p
                        | The first step is using the Open Access Button (and you are using it, daily, on every paywall, right?). But don’t think that’s all there is to do! This project was made possible by developers, advocates, students and general clever folk from Open community and we need continued support to take this to the next level. Of course, the code, text, and data we’ve pulled together are openly available, so you can innovate and advocate with it. If you can, donate to the project to help us support and maintain service as well as helping us with our future development plans. Bottom line, we’d love to hear from you, so whether it’s a suggestion, virtual pat on the back, or, dare I say a bug you’ve noticed, get in touch. 

            .row.buttons
                .col-md-12
                    button.btn.btn-default.bug(type="button")
                        | Report a bug
                    button.btn.btn-warning.donate(type="button") 
                        | Donate!
                    button.btn.btn-success.suggest(type="button")
                        | Suggestions

    .team
        a(name='team')
        .container
            .row
                .col-md-12
                    h3 Meet the team of people and organisations who made this a reality
                        ul.thumbnails
                            li.span2
                                a
                                    .thumbnail
                                        img
                                    .caption
                                        h3
                                        p
            .row
                .col-md-12
                    h3 And many thanks to those who helped along the way
                        ul
                            li
                                a(href="http://opensciencefederation.com/") 
                                    | Open Science Federation
                            li
                                a(href="http://originalcontentlondon.com/")
                                    | Original Content London
                            li
                                a(href="https://twitter.com/McDawg")
                                     | Graham Steel
                            li
                                a(href="http://okfn.org/")
                                    | Open Knowledge Foundation
                            li
                                a(href="http://rewiredstate.org/")
                                    | Rewired State
                            li
                                a(href="http://www.bmj.com/")
                                    | BMJ
                            li
                                a(href="http://www.plos.org/")
                                    | PLoS
                            li
                                a(href="https://twitter.com/Protohedgehog")
                                    | Jon Tennant
                            li
                                a(href="https://twitter.com/petermurrayrust")
                                    | Peter Murray-Rust 
                            li
                                a(href="http://sparc.arl.org/")
                                    | SPARC
                            li
                                a(href="https://twitter.com/CameronNeylon")
                                    | Cameron Neylon
                            li
                                | Everyone who joined the thunderclap or contacted us with messages of support or suggestions!


    #footer
        a(name='contact')
        .container
            .row
                .col-md-4
                    INFO
                .col-md-4
                    ABOUT
                .col-md-4
                    [t] [f] [r]
            .row
                .col-md-4
                    p Terms of use
                    p Support community
                    p Collaborator login
                .col-md-4
                    p Project blog
                    p Get the data
                    p Contacts
                .col-md-4
                    p
                        | All site content is licensed under a
                        | Creative Commons Attribution License.

    // Old body
        .row
            .col-lg-4     
                section#start
                    .hero-unit
                        p.
                            If we want to bring about a more open community we’ll need more tools,
                            more information and more engagement around the issue.

                        p
                            strong That’s where our idea comes in. 
                            |Imagine a browser-based tool that allows you to track every time someone
                            |is denied access to a paper? Better yet, imagine if that tool gave you
                            |basic information about where in the world they were or their profession
                            |and why they were looking. Integrating this into one place would create a
                            |realtime, worldwide, interactive picture of the problem. The integration
                            |of social media would allow us to make this problem visible to the world.
                            |Lastly, imagine if the tool actually helped the person gain access to the
                            |paper they’d been denied access to in the first place. Incentivising use
                            |and opening the barriers to knowledge combined can make this really
                            |powerful.

                        p
                            |That’s what we’re imagining. We’re calling it the 
                            strong Open Access button
                            |. Every paywall met is an isolated incident; it’s time we capture those
                            |individual moments of injustice and frustration to turn them into positive
                            |change.

                section#contribute
                    .page-header
                        h1 How can I help?
                    .hero-unit
                        p.
                            We’re glad you asked! The Open Access Button has been created entirely by
                            volunteers, and we can always do with some extra help squashing bugs and
                            adding new features.

                        p
                            |If you want to help out, 
                            a(href='http://github.com/OAButton/OAButton') check out the source on Github
                            |, and get hacking. There are some instructions there on 
                            a(href='https://github.com/OAButton/OAButton/blob/develop/instructions.md') how to set up your development server
                            |.
