doctype 5
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='Open Access Button')
    if title
      title Open Access Button - #{title}
    else
      title Open Access Button
    link(rel='shortcut icon', type='image/x-icon', href='/static/img/favicon.ico')

    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/css/font-awesome.min.css')

    link(rel='stylesheet', href='/static/css/app.css')
    link(rel='stylesheet', href='/static/css/forms.css')
    link(rel='stylesheet', href='/static/css/MarkerCluster.css')
    link(rel='stylesheet', href='/static/css/MarkerCluster.Default.css')
    
    //if lt IE 9
      script(src='/static/js/lib/html5shiv.js')
      script(src='/static/js/lib/respond.min.js')
    
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css') 
    //if lte IE 8
      link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css')

  body(data-spy='scroll', data-target='.navbar')
    block body

  // JQuery and plugins
  script(src='/static/js/lib/jquery.min.js')
  script(src='http://codeorigin.jquery.com/color/jquery.color-2.1.2.min.js')
  script(src='/static/js/lib/jquery.form.js') 

  // Bootstrap and plugins
  script(src='/static/js/lib/bootstrap.js')
  script(src='/static/js/lib/bootstrap-dialog.js')

  // Leaflet
  script(src='http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js')
  script(src='/static/js/lib/leaflet.markercluster.js')

  // Server vars
  script
    var events = {{ events|safe }};

  // Application scripts
  script(src='/static/js/map.js')
  script(src='/static/js/index.js')