extends web/index
- load oafilters
block start
    form.form-bookmarklet#form-bookmarklet(action='/api/signin/', method='post')
        {% csrf_token %}
        .row
            .col-md-8.col-md-offset-2
                p Sign up below to get the 
                    i Open Access Button
                    |, a safe, easy to use browser bookmarklet that you can use to show the global effects of research paywalls - and to help get access to the research you need. Every time you hit a paywall blocking your research, click the button. Fill out a short form, add your experience to the map along with thousands of others. Then use our tools to search for access to papers, and spread the word with social media. Every person who uses the
                    i Open Access Button 
                    | brings us closer to changing the system. 
                p 
                    a(data-toggle="modal", data-target="#video-modal", alt="Need access to research?", title="Learn more about the project in this video")
                        | Watch the video
                    | for a quick introduction, then sign up here:
                p
                    {{ signin_form.email }}
                p
                    {{ signin_form.name }}
                p
                    {{ signin_form.profession }}
                p
                    {{ signin_form.confirm_public}}
                    {{ signin_form.confirm_public|label_with_classes:"confirm-label"}}
                p
                    {{ signin_form.mailinglist}}
                    {{ signin_form.mailinglist|label_with_classes:"mailinglist-label"}}
                p Your e-mail address will not be publicised and not be shared with third parties!
                p
                    div.form-group
                        {{ signin_form.privacy}}
                    button.btn.btn-lg.btn-primary.btn-block(type='submit')
                        | Get my personal Open Access Button

    #bookmarklet(style='display:none')
        .content
            i.wedge-up
            p
                | Drag me to your bookmark bar:
            a.btn.btn-lg.btn-primary
                i.icon-bookmark Open Access Button

    #help-bookmarklet
        .row
            .col-md-8.col-md-offset-2
                p 
                    b Thanks for signing up! 
                    | Don't forget to check your inbox for a verification email. 
                p If you do not see a bookmark bar at the top of your browser, you can find instructions for activating yours here: 
                    a(href="https://support.google.com/chrome/answer/95745") Chrome
                    |, 
                    a(href="http://support.mozilla.org/en-US/kb/bookmarks-toolbar-display-favorite-websites") Firefox
                    |, 
                    a(href="http://support.apple.com/kb/ph4967") Safari
                    |, 
                    a(href="http://www.cultofmac.com/36839/enabling-and-adding-to-the-bookmarks-bar-in-safari-for-ipad-how-to/") iPad
                    |,
                    a(href="http://windows.microsoft.com/en-us/windows-vista/show-or-hide-the-favorites-bar-in-internet-explorer-8") Internet Explorer
                    |. For a 2-minute walkthrough on using the button (don't worry, it's easy!) - 
                    a(href="#start", data-dismiss="modal", data-toggle="modal", data-target="#video-modal") watch this video.
