extends web/index
- load oafilters
block start
    form.form-bookmarklet#form-bookmarklet(action='/api/signin/', method='post')
        {% csrf_token %}
        .row
            .col-md-8.col-md-offset-2
                p
                    | Create a free, anonymous account and get an easy and safe
                    | to use bookmarklet. When you are prevented from using an
                    | article for your research because access is restricted,
                    | just click the Open Access Button! Sign up here to get
                    | started right away:
                p
                    {{ signin_form.email }}
                p
                    {{ signin_form.name }}
                p
                    {{ signin_form.profession }}
                p
                    {{ signin_form.confirm_public}}
                    {{ signin_form.confirm_public|label_with_classes:"confirm-label"}}
                p
                    {{ signin_form.mailinglist}}
                    {{ signin_form.mailinglist|label_with_classes:"mailinglist-label"}}
                p
                    div.form-group
                        {{ signin_form.privacy}}
                    button.btn.btn-lg.btn-primary.btn-block(type='submit')
                        | Get my personal Open Access button

    #bookmarklet(style='display:none')
        .content
            i.wedge-up
            p
                | Drag me to your bookmark bar:
            a.btn.btn-lg.btn-primary
                i.icon-bookmark Open Access Button

    .modal.fade(id="bookmarklet-modal", tabindex="-1", role="dialog", aria-labelledby="bookmarklet-header", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h4.modal-title(id="bookmarklet-header") 
                        | Thanks for signing up!
                .modal-body
                    Instructions for enabling the browser bar, cute little animation, etc.
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") OK