.navbar-header .navbar-brand {
  font-size:0px; text-indent:-9999px;
  width:16px; height:25px;
  margin-top:12px; margin-left:12px;
  background:url(../img/oalogo_x_white.png) no-repeat top left;
}

header.subhead {
  margin-top:2em;
  background:url(http://farm7.staticflickr.com/6039/6303965123_ee370be50a_b.jpg) no-repeat;
  background-size:100% auto;
}

header .container {
  background:url(../img/header_needaccess.png) no-repeat bottom left;
  background-size:auto 50%;
  width:100%; height:13em;
}

header .container * { display:none; }

header .lead {
  position: absolute;
  margin-top: 1em;
  font-size: 0.85em;
  text-align: center;
  width: 100%;
  left: 0px;  
}

header .lead span {
  background-color: #ef5b23;
  color: white;
  padding: 0.4em;
  opacity: 0.9;
}

#map {
  height: 500px;
  width: 100%;
}

.thumbnail .caption {
  padding: 0px;
}

.thumbnail .caption p {
  font-size: 95%;
}

#github_ribbon {
  position: absolute;
  top: 3em;
  right: 0;
  border: 0;
  z-index: 1;
}

#bookmarklet {
  display:none;
}