IMG#bookmarklet-logo {
    width: 100%;
}

IMG#bookmarklet-badge {
    display: none;
}

.bookmarklet-footer {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    background: "grey";
    font-family: "Raleway";
}

.raleway-font {
    font-family: "Raleway";
}
