IMG#bookmarklet-logo {
    width: 100%;
}

IMG#bookmarklet-badge {
    display: none;
}

.bookmarklet-footer {
    background: "grey";
    font-family: "Raleway";
}

.raleway-font {
    font-family: "Raleway";
}
