<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Organization">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta itemprop="name" property="og:title" property="og:site_name" content="Open Access Button">
    <meta itemprop="description" property="og:description" content="Paywalls deny people access to life-saving research every day. The Open Access Button will make the damage of paywalls visible to the world and get you access to the research you need.">
    <meta itemprop="image" property="og:image" content="/static/img/oabutton_logo.png">
    <meta property="og:url" content="https://openaccessbutton.org">
    <meta property="og:type" content="website">
    <meta property="fb:profile_id" content="openaccessbutton">
    <title>Open Access Button</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="canonical" href="https://openaccessbutton.org">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/social-buttons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"></link>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body style="margin-top: 20px" {% block body_attrs %}{% endblock %}>
    <div class="version">Bookmarklet version {{ VERSION }}</div>
    <div id="fb-root"></div>
    <!-- Main body-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <div class="account-box">
                    <div class="logo ">
                        <img id="bookmarklet-logo" src="/static/img/oabutton_logo.png" alt="Open Access Logo" />
                    </div>
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
    <div class="container bookmarklet-footer">
        <hr />
        <p>For instructions, more info and your contribution head to <a href="http://www.openaccessbutton.org" target="_blank">www.openaccessbutton.org</a></p>
        <hr />
        <div class="row">
            <div>
              <a class="pull-left" href="mailto:oabutton+bugs@gmail.com?subject=OAButton Bug Report (version {{ VERSION }})">Report a bug</a>
            </div>
            <div>
                <a class="pull-right" href="https://www.charitycheckout.co.uk/1111824/OpenAccessButton" target="_blank">Donate</a>
            </div>
        </div>
    </div>
    {% endblock %}
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/bootstrap.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43774380-1', 'openaccessbutton.org');
      ga('send', 'pageview');

    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
