<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Open Access Button">
    <title>{{'Open Access Button'|force_escape}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body style="margin-top: 20px" {% block body_attrs %}{% endblock %}>
    <div id="fb-root"></div>
    <!-- Main body-->
    <div class="container">

        <img id="bookmarklet-logo" src="/static/img/oabutton_logo.png" />
        <img id="bookmarklet-badge" src="/static/img/oabutton_badge.png" />
        <a id="id_pmc" title="Available at PMC" target="_new" style="position: absolute; top: 0; right: 32px; display: none;"><img src="/static/img/pmc.png"/></a>
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    <div style="margin-top:1em; border-top: 1px dashed rgb(85, 85, 85);">
    <div class="container" id="bookmarklet-footer" style="margin-top:1em;">
        <p>
            For instructions, more info and your contribution head to <a href="http://www.openaccessbutton.org">www.openaccessbutton.org</a>
        </p>
        <a href="mailto:oabutton+bugs@gmail.com?subject=OAButton%20Bug%20Report" target="_blank">
            <button class="btn btn-default bug" type="button">Report a bug</button>
        </a>
        <a href="https://www.charitycheckout.co.uk/1111824/OpenAccessButton" target="_blank">
            <button class="btn btn-warning bug" type="button">Donate</button>
        </a>
    </div>
    </div>
    {% endblock %}

    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/bootstrap.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
