{% extends "bookmarklet/layout.html" %}{% block content %}
<div class="raleway-font">
    <h2>Thanks!</h2>
    <p>Below are a number of ways to get access to your paper, unfortunately
    they won't always work but it's worth a shot.
    </p>


    <div class="row-block">
        <div class="row">
            <div id="google_links" class="col-md-12 row-block">
            </div>
        </div>
    </div>

    <hr />

    {% comment %}

    // Disabling this for now as we don't have a robust email scraping
    // service
    <div id="email-request" class="row-block">
        <h4>Email a request for the paper directly to the author</h4>
        <div class="row">
            <div class="col-md-12 row-block">
                <button class="btn btn-primary btn-block">Ask [addres@goes.here]</button>
            </div>
        </div>
    </div>
    <hr />

    {% endcomment %}

    <div>
        <h4>Searching for related documents</h4>
    </div>

    <div class="row-block">
        <div class="row">
            <div id="pmc_links" class="col-md-12 row-block">
            </div>
        </div>
    </div>

    <div class="row-block">
        <div class="row">
            <div id="core_links" class="col-md-12 row-block">
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
<script src="/static/js/success.js"></script>
{% endblock %}
{% block body_attrs %}data-doi="{{doi|urlencode}}"{% endblock %}
