{% extends "bookmarklet/layout.html" %}{% block content %}
<div class="raleway-font">
    <h2>Thanks!</h2>

    {% if open_url %}
    We've found an open access version of your link.
    <p>
    You can go here : {{ open_url }}
    {% endif %}


    <p>Below are a number of ways to get access to your paper, unfortunately
    they won't always work but it's worth a shot.
    </p>


    <div class="row-block">
        <div class="row">
            <div id="google_links" class="col-md-12 row-block">
            </div>
        </div>
    </div>

    <hr />

    {% if possible_emails %}
        <div id="email-request" class="row-block">
            <h4>Email a request for the paper directly to the author</h4>
            <p>
                We've detected the following email addresses - if these
                appear to be the author, please check off the
                addresses you wish to notify and click the "Notify
                Authors" button to request an open access version.
            </p>
            <form method="POST" action="{% url 'bookmarklet:notify_authors' key=key slug=slug %}">
                {% for contact_email in possible_emails %}
                <div class="row">
                    <div class="col-md-12 row-block">
                        <input type="checkbox" name="notify_authors" value="{{contact_email}}">Ask {{ contact_email }}
                    </div>
                </div>
                <br />
                {% endfor %}
                <button class="btn btn-primary btn-block">Notify Authors</button>
            </form>
        </div>
        <hr />
    {% endif %}

    <div>
        <h4>Searching for related documents</h4>
    </div>

    <div class="row-block">
        <div class="row">
            <div id="pmc_links" class="col-md-12 row-block">
            </div>
        </div>
    </div>

    <div class="row-block">
        <div class="row">
            <div id="core_links" class="col-md-12 row-block">
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
<script src="/static/js/success.js"></script>
{% endblock %}
{% block body_attrs %}data-doi="{{doi|urlencode}}"{% endblock %}
