{% extends "bookmarklet/layout.html" %}
{% load oafilters %}
{% block content %}

<p>
You've hit a paywall!?
<br />
That sucks.
<br />
Tell us why and we'll put you on the map.
</p>

<form id="event" action="/api/post/" method="post" class="form-horizontal">{% csrf_token %}
  {{ bookmarklet.non_field_errors }}

  {{ bookmarklet.accessed }}
  {{ bookmarklet.user_id }}
  {{ bookmarklet.url }}

  <div class="control-group">
    {{ bookmarklet.location|label_with_classes:"control-label"}}
    <div class="controls">
        {{ bookmarklet.location }}
        {{ bookmarklet.coords }}
    </div>
  </div>
  <div class="control-group">
    {{ bookmarklet.doi|label_with_classes:"control-label" }}
    {{ bookmarklet.doi.errors }}
    <div class="controls">
        {{ bookmarklet.doi }}
    </div>
  </div>
  <div class="control-group">
    {{ bookmarklet.description|label_with_classes:"control-label" }}
    {{ bookmarklet.description.errors }}
    {{ bookmarklet.description }}
  </div>
  <div class="control-group">
    {{ bookmarklet.story.errors }}
    {{ bookmarklet.story|label_with_classes:"control-label" }}
    {{ bookmarklet.story }}
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>


{% endblock %}

{% block scripts %}
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/add.js"></script>
{% endblock %}
