{% extends "bookmarklet/layout.html" %}
{% load oafilters %}
{% block content %}

<form id="event" action="/api/post/{{key}}/" method="post" class="form-horizontal">

  {{ bookmarklet.non_field_errors }}
  {{ bookmarklet.accessed }}
  {{ bookmarklet.slug }}

  <div class="control-group raleway-font">
      <p>You've hit a paywall!?</p>
      <p>That sucks.</p>
      <p>Tell us why and we'll put you on the map.</p>
  </div>


  <div class="control-group">
    {{ bookmarklet.url|label_with_classes:"control-label"}}
    <div class="controls">
        {{ bookmarklet.url }}
    </div>
  </div>


  <div class="control-group">
    {{ bookmarklet.location|label_with_classes:"control-label"}}
    <div class="controls">
        {{ bookmarklet.location }}
        {{ bookmarklet.coords }}
    </div>
  </div>
  <div class="control-group">
    {{ bookmarklet.doi|label_with_classes:"control-label" }}
    {{ bookmarklet.doi.errors }}
    <div class="controls">
        {{ bookmarklet.doi }}
    </div>
  </div>
  <div class="control-group">
    {{ bookmarklet.description|label_with_classes:"control-label" }}
    {{ bookmarklet.description.errors }}
    {{ bookmarklet.description }}
  </div>
  <div class="control-group">
    {{ bookmarklet.story.errors }}
    {{ bookmarklet.story|label_with_classes:"control-label" }}
    {{ bookmarklet.story }}
  </div>
  <div class="row">
      <div class="col-md-12 row-block">
          <button class="btn btn-primary btn-block">Submit</button>
      </div>
  </div>

</form>

{% endblock %}

{% block scripts %}
<script src="/static/js/add.js"></script>
{% endblock %}
