{% extends "bookmarklet/layout.html" %}{% block content %}
<h2>Thanks!</h2>
<p>Now to find an Open Access version…</p>
<ul id="oa_links">
</ul>

<p>
<a href="http://en.wikipedia.org/wiki/Digital_object_identifier" target="_blank">What's a DOI?</a>
</p>

<p>
<a href="https://twitter.com/OA_Button" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large">Follow @OA_Button</a>
<a href='https://twitter.com/share?url=http://openaccessbutton.org&text=I hit a #paywall trying to access {{ url }}! Help me demand open access at&via=OA_Button&related=OA_Button' class="twitter-share-button" data-lang="en" data-size="large">Tweet</a> 
</p>

{% endblock %}
{% block scripts %}
<script src="/static/js/success.js"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
{% block body_attrs %}data-doi="{{doi|urlencode}}"{% endblock %}
