{% extends "bookmarklet/layout.html" %}{% block content %}
<h2>Thanks!</h2>
<p>Below are a number of ways to get access to your paper, unfortunately
they won't always work but it's worth a shot.
</p>
<!-- Email link goes here -->
<ul id="oa_links">
</ul>
<div>
<a href="http://en.wikipedia.org/wiki/Digital_object_identifier">What's a DOI?</a>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/success.js"></script>{% endblock %}
{% block body_attrs %}data-doi="{{doi|urlencode}}"{% endblock %}
