{% extends "bookmarklet/layout.html" %}{% block content %}<img src="/static/img/oalogo.png" style="position: absolute; top: 0; right: 0;"/><a id="id_pmc" title="Available at PMC" target="_new" style="position: absolute; top: 0; right: 32px; display: none;"><img src="/static/img/pmc.png"/></a>
<form id="event" action="/add" method="post" class="form-horizontal">
  <input id="id_accessed" type="hidden" name="accessed"/>
  <div class="control-group">
    <label for="id_name" class="control-label">Your name</label>
    <div class="controls">
      <input id="id_name" type="text" name="name" placeholder="e.g. Dr John Doe" data-remember="data-remember" class="input-block-level"/>
    </div>
  </div>
  <div class="control-group">
    <label for="id_profession" class="control-label">Profession</label>
    <div class="controls">
      <input id="id_profession" type="text" name="profession" placeholder="e.g. Doctor" data-remember="data-remember" class="input-block-level"/>
    </div>
  </div>
  <label for="id_remember" style="display:none" class="checkbox">Remember me
    <input id="id_remember" type="checkbox" name="remember" class="input-block-level"/>
  </label>
  <div class="control-group">
    <label for="id_location" class="control-label">Location</label>
    <div class="controls">
      <input id="id_location" type="text" name="location" placeholder="e.g. London, United Kingdom" required="required" class="input-block-level"/>
      <input id="id_coords" type="hidden" name="coords"/>
    </div>
  </div>
  <div class="control-group">
    <label for="id_url" class="control-label">Article URL</label>
    <div class="controls">{% if  vars.url %}
      <input id="id_url" readonly="readonly" type="text" name="url"{% __pyjade_attrs attrs=[('value',(''+vars.url+''))] %} class="input-block-level"/>{% else %}
      <input id="id_url" type="text" name="url" placeholder="http://www.publisher.com/journal?id=XXXX" class="input-block-level"/>{% endif %}
    </div>
  </div>
  <div class="control-group">
    <label for="id_doi" class="control-label">DOI</label>
    <div class="controls">{% if  vars.doi %}
      <input id="id_doi" readonly="readonly" type="text" name="doi"{% __pyjade_attrs attrs=[('value',(''+vars.doi+''))] %} class="input-block-level"/>{% else %}
      <input id="id_doi" type="text" name="doi" placeholder="e.g. 10.1136/bmj.c7086" class="input-block-level"/>{% endif %}
      <p class="help-text">Document Object Identifier (DOI)</p>
    </div>
  </div>
  <div class="control-group">
    <label for="id_description" class="control-label">Description</label>
    <div class="controls"><textarea id="id_description" name="description" rows="4" placeholder="Title, Authors, Journal, etc" class="input-block-level"></textarea>
    </div>
  </div>
  <div class="control-group">
    <label for="id_story" class="control-label">Why do you need access?</label>
    <div class="controls"><textarea id="id_story" name="story" rows="4" placeholder="e.g. I’m trying to save lives, dammit!" class="input-block-level"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary pull-right">Open Access, please!</button>
    </div>
  </div>
</form>{% endblock %}{% block scripts %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/add.js"></script>{% endblock %}
