extends layout
block content
  img(src='/img/oalogo.png', style='position: absolute; top: 0; right: 0;')
  a#id_pmc(title='Available at PMC', target='_new', style='position: absolute; top: 0; right: 32px; display: none;')
    img(src='/img/pmc.png')

  form#event.form-horizontal(action='/add', method='post')
    input#id_accessed(type='hidden', name='accessed')

    .control-group
      label.control-label(for='id_name') Your name
      .controls
        input#id_name.input-block-level(type='text', name='name', placeholder='e.g. Dr John Doe', data-remember)

    .control-group
        label.control-label(for='id_profession') Profession
        .controls
          input#id_profession.input-block-level(type='text', name='profession', placeholder='e.g. Doctor', data-remember)

    label.checkbox(for='id_remember', style='display:none') Remember me
      input#id_remember.input-block-level(type='checkbox', name='remember')

    .control-group
      label.control-label(for='id_location') Location
      .controls
        input#id_location.input-block-level(type='text', name='location', placeholder='e.g. London, United Kingdom', required)
        input#id_coords(type='hidden', name='coords')

    .control-group
      label.control-label(for='id_url') Article URL
      .controls
        if vars.url
          input#id_url.input-block-level(readonly='readonly', type='text', name='url', value='#{vars.url}')
        else
          input#id_url.input-block-level(type='text', name='url', placeholder='http://www.publisher.com/journal?id=XXXX')

    .control-group
      label.control-label(for='id_doi') DOI
      .controls
        if vars.doi
          input#id_doi.input-block-level(readonly='readonly', type='text', name='doi', value='#{vars.doi}')
        else
          input#id_doi.input-block-level(type='text', name='doi', placeholder='e.g. 10.1136/bmj.c7086')

    .control-group
      label.control-label(for='id_description') Description
      .controls
        textarea#id_description.input-block-level(name='description', rows=4, placeholder='Title, Authors, Journal, etc')

    .control-group
      label.control-label(for='id_story') Why do you need access?
      .controls
        textarea#id_story.input-block-level(name='story', rows=4, placeholder='e.g. I’m trying to save lives, dammit!')

    .control-group
      .controls
        button.btn.btn-primary.pull-right Open Access, please!

block scripts
  script(src='/js/add.js')

