DEBUG = False
TEMPLATE_DEBUG = DEBUG

DB_USER = 'postgres'

# API key for CORE searches
CORE_API_KEY = "you need this"

# Hostname to be used for bookmarklet
HOSTNAME = "and this"

# Amazon SES Email configuration
EMAIL_HOST = "blah"
EMAIL_HOST_USER = "blah"
EMAIL_HOST_PASSWORD = "blah"
EMAIL_PORT = 587
EMAIL_USE_TLS = True

OABUTTON_EMAIL = "oabutton@crankycoder.com"
