extends ../layout
block content
  h1= count
    small  Scholarly pursuits denied
  div#map_canvas

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
  script.
    var map;
    var marker;

    function makeInfoWindowEvent(map, infowindow, contentString, marker) {
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(contentString);
        infowindow.open(map, marker);
      });
    }
    
    function initialise() {
      var events = !{events};
      var mapOptions = {
        zoom: 2,
        center: new google.maps.LatLng(0, 0),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
      addMarkers(map, events);
    }
    
    function addMarkers(map, events) {
      var infowindow = new google.maps.InfoWindow();
      for (var i = 0; i < events.length; i++) {
        if(events[i].coords.length !== 0) {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(events[i].coords.lat, events[i].coords.lng),
            map: map,
            icon: 'img/noalogo.png'
          });

          bubble_content = '<h4>' + events[i].name;
          if (events[i].profession != '') {
            bubble_content += ' <em>(' + events[i].profession + ')</em>';
          }
          bubble_content += '</h4>';
          bubble_content += '<p>' + events[i].story + '</p>';
          bubble_content += '<a href="http://dx.doi.org/' + events[i].doi + '">doi</a>';
          bubble_content += '|';
          bubble_content += '<a href="' + events[i].url + '">url</a>';
          
          makeInfoWindowEvent(map, infowindow, bubble_content, marker);
        }
      }
    }

    google.maps.event.addDomListener(window, 'load', initialise);
