extends ../layout
block content
  h1= count
    small  Scholarly pursuits denied
  div#map-canvas

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
  script.
    var coords = !{event_coords};
    var map;
    var marker, i;

    for (i = 0; i < coords.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(coords[i].lat, coords[i].lng),
        map: map
      });
    }

    function initialise() {
      var mapOptions = {
        zoom: 8,
        center: new google.maps.LatLng(51.512268, -0.158272),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialise);
